.tabTitle {
    text-align: center;
}

.homeComponents {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.homeGraph {
    background-color: #e6e6e6;
    width: 55%;
    height: 400px;
    border-radius: 10px;
}

.homeInfo {
    margin-right: 5%;
    background-color: #e6e6e6;
    width: 35%;
    height: 300px;
    border-radius: 10px;
}

.homeInfoText {
    margin: 5%;
}

.chooseClustersButton {
    float:right;
    margin-right: 5%;
}

.header {
    display: inline;
}
